[target.armv8r-none-eabihf]
rustflags = [
    "-Clink-arg=-Tlinker.ld",
    "-Ctarget-cpu=cortex-r52",
]
# Note, this requires QEMU 9 or higher
runner = "qemu-system-arm -machine mps3-an536 -cpu cortex-r52 -semihosting -nographic -kernel"

[target.armv7r-none-eabihf]
rustflags = [
    "-Clink-arg=-Tlinker.ld",
    "-Ctarget-cpu=cortex-r5",
]
# This CPU is almost 100% Armv7-R compatible. Note: if we can find a machine
# that supports Cortex-R5, but has an CMSDK UART at the same address at the
# MPS3-AN536, we could use that instead.
#
# Note, this requires QEMU 9 or higher.
runner = "qemu-system-arm -machine mps3-an536 -cpu cortex-r52 -semihosting -nographic -kernel"

[build]
target = ["armv8r-none-eabihf"]

