[target.aarch64-unknown-none]
# QEMU Aarch64 boots in EL1 by default
# Add "-machine virtualization=on" to boot in EL2
runner = "qemu-system-aarch64 -machine virt -cpu cortex-a57 -semihosting -nographic -kernel"

[build]
target = ["aarch64-unknown-none"]
