[target.aarch64-unknown-none]
# QEMU Aarch64 boots in EL1 by default
runner = "qemu-run --machine virt --cpu cortex-a57 --aarch64 --log-format=oneline"

[build]
target = ["aarch64-unknown-none"]

[env]
DEFMT_LOG = "info"
