name: Build sample material

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: mdslides@0.3,mdbook@0.4,mdbook-mermaid@0.12
    
      - name: Add Rust Targets
        run: |
          rustup target add thumbv7em-none-eabihf

      - name: Find slug name
        run: |
          slug=$(./describe.sh "${GITHUB_REF}")
          echo "Building with slug '${slug}'"
          echo "slug=${slug}" >> "${GITHUB_ENV}"

      - name: Build book-and-slides
        run: |
          cd ./training-slides && ./build.sh

      - name: Build example code
        run: |
          cd ./example-code && ./build.sh
  
      - name: Assemble Artifacts
        run: |
          echo "Making ./rust-training-${{ env.slug }}..."
          mkdir -p ./rust-training-${{ env.slug }}
          mv ./training-slides/slides ./rust-training-${{ env.slug }}/training-slides-presentation
          mv ./training-slides/book ./rust-training-${{ env.slug }}/training-slides-book
          cp -r ./example-code ./rust-training-${{ env.slug }}
          echo "Compressing ./rust-training-${{ env.slug }}.zip..."
          zip -r ./rust-training-${{ env.slug }}.zip ./rust-training-${{ env.slug }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        if: ${{success()}}
        with:
          name: Artifacts
          if-no-files-found: error
          path: |
            ./rust-training-*/

      - name: Create and Upload Release
        if: github.event_name == 'push' && startswith(github.ref, 'refs/tags/')
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./rust-training-${{ env.slug }}.zip
